@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-neue: "Bebas Neue", sans-serif;
  --color-primary: rgb(225, 228, 60, 1);
}

@layer components {
  .lottie-container .animation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10;
    filter: saturate(2);
  }

  .animation::after {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    animation: animateGrain 8s steps(10) infinite;
  }
}

animateGrain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-15%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 5%);
  }
  80% {
    transform: translate(-10%, 0);
  }
  90% {
    transform: translate(10%, 10%);
  }
  100% {
    transform: translate(5%, -5%);
  }
}
